<fieldset>
	<legend>Dados do Calendário</legend>
	
	<p>
	  <strong>Descrição:</strong>
	  <%= @calendario.processo_seletivo.descricao %>
	</p>

	
</fieldset>

<%= link_to 'Alterar', edit_calendario_path(@calendario) %> |
<%= link_to 'Voltar', calendarios_path %>
