<div class="row">
	<div class="small-9 columns">
	  	<%= f.association :linha_pesquisa, label_method: :descricao, prompt: "Selecione"  %>
	</div>
	<div class="small-3 columns">
	  	<%= f.input :vagas %>
	</div>	
</div>
<div class="row">
	<%= link_to_remove_association "remove item", f, :class => "btn btn-danger" %>
</div>