<fieldset>
	<legend>Aribuir Avaliador a Inscrição</legend>  <div class="form-inputs">
    <%= f.association :user, label_method: :email, prompt: 'Selecione', collection: Role.find_by_name('Avaliador').users %>
    <%= f.association :inscricao, label_method: :nome_candidato, prompt: 'Selecione' %>
  </div>
</fieldset>  

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "my-button" %>
    <%= link_to 'Voltar', avaliacao_curriculos_path %>
  </div>
<% end %>