<p id="notice"><%= notice %></p>

<h1>Listando :: Resultado Final</h1>

<table>
  <thead>
    <tr>
      <th>Inscricao</th>
      <th>Nota final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exibir_classificacao.each do |resultado_final| %>
      <tr>
        <td><%= resultado_final.inscricao.nome_candidato %></td>
        <td><%= resultado_final.nota_final %></td>
        <td><%= link_to 'Show', resultado_final %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
