<p id="notice"><%= notice %></p>

<h1>Listando :: Resultado Final</h1>

<table>
  <thead>
    <tr>
      <th>Inscricao</th>
      <th>Nota final</th>
      <th>Aprovado</th>
    </tr>
  </thead>

  <tbody>
    <% @resultados_finais.each do |resultado_final| %>
      <tr>
        <td><%= resultado_final.inscricao.nome_candidato %></td>
        <td><%= resultado_final.nota_final %></td>
        <td><%= resultado_final.aprovado == true ? 'Sim' : 'Não' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
